<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <style type="text/css">
        button{
            width:100px;
            height: 50px;

        }
        </style>
        
</head>
<body>
    <h1>开始界面</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <button type="submit" style="margin-bottom:30px;">跳转上传页面</button>
    </form>
    <form action="" enctype='multipart/form-data' method='GET'>
        <button type="submit" style="margin-bottom:30px;">跳转下载页面</button>
    </form>
</body>
</html>